comments.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="comments">
      <oneOrMore>
        <element name="note">
          <attribute name="value">
            <data type="integer"/>
          </attribute>
          <zeroOrMore>
            <element name="comment">
              <attribute name="game">
                <data type="NCName"/>
              </attribute>
              <attribute name="game_id">
                <data type="integer"/>
              </attribute>
              <attribute name="location"/>
              <text/>
            </element>
          </zeroOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
